name: Run Binance Script

on:
  schedule:
    - cron: "20 0,6,8,11,16,21 * * *"      # chạy mỗi 4 giờ (0:00, 4:00, 8:00, 12:00...)
    - cron: "50 2 * * *"
  workflow_dispatch:            # cho phép bạn chạy thủ công

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python get_binance.py
